html {
 font-size: 14px;
 position: relative;
 min-height: 100%;
}

@media (min-width: 768px) {
 html {
  font-size: 16px;
 }
}

body {
 margin-bottom: 60px;
}

.table-actions {
 text-decoration: none;
}

th {
 text-align: center;
}

#sortable tr {
 cursor: move;
}

.totals-container {
 display: flex;
 justify-content: space-around;
 font-size: 26px;
 text-align: center;
}

.asset {
 color: #007bff;
}

.liability {
 color: #dc3545;
}

.noData {
 text-align: center;
 font-size: 40px;
 font-family: Montserrat,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.trTransactionsGrouped {
 background-color: lightblue;
 font-size: 26px
}

li .nav-link {
 cursor: pointer;
}

.fa.fa-file-excel {
 color: green;
}

.fa.fa-calendar-day {
 color: yellow;
}

.fa.fa-calendar-week {
 color: orange;
}

.fa.fa-calendar {
 color: red;
}

.fa.fa-clipboard-list {
 color: gray;
}

a.nav-link {
 color: cornflowerblue;
 font-size: 15px;
 font-family: Monserrat, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-pills .nav-link.active {
 color: white !important;
 background-color: aqua !important;
}

.table-ResultTransactionsReportWeeklies {
 font-size: 20px;
}

#tableResultTransactionsReportWeeklies .left {
 text-align: left;
}

#tableResultTransactionsReportWeeklies .right {
 text-align: right;
}

.table-ResultTransactionsReportMonthlies {
 font-size: 20px;
}

#tableResultTransactionsReportMonthlies .left {
 text-align: left;
}

#tableResultTransactionsReportMonthlies .right {
 text-align: right;
}

.bg-lightBlue {
 background-color: lightblue;
 color: #dc3545
}

.fc-event-title-container {
 cursor: default;
}

.fc-daygrid-day-frame {
 cursor: pointer;
}

.close {
 background: red;
 color: #FFFFFF;
 line-height: 25px;
 position: absolute;
 right: 1px;
 text-align: center;
 top: 1px;
 width: 24px;
 text-decoration: none;
 font-weight: bold;
 border-radius: 3px;
 height: 40px;
}

 .close:hover {
  background: #FAAC58;
  color: #222;
 }

/*Efecto*/
.modalmask {
 position: fixed;
 font-family: Arial, sans-serif;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 background: rgba(0,0,0,0.8);
 z-index: 99999;
 opacity: 0;
 -webkit-transition: opacity 400ms ease-in;
 -moz-transition: opacity 400ms ease-in;
 transition: opacity 400ms ease-in;
 pointer-events: none;
}

 .modalmask:target {
  opacity: 1;
  pointer-events: auto;
 }

/*Formato de la ventana*/
.modalbox {
 width: 400px;
 position: relative;
 padding: 5px 20px 13px 20px;
 background: #fff;
 border-radius: 3px;
 -webkit-transition: all 500ms ease-in;
 -moz-transition: all 500ms ease-in;
 transition: all 500ms ease-in;
}

/*Movimientos*/
.movedown {
 margin: 0 auto;
}

.rotate {
 margin: 10% auto;
 -webkit-transform: scale(-5,-5);
 transform: scale(-5,-5);
}

.resize {
 margin: 10% auto;
 width: 0;
 height: 0;
}

.modalmask:target .movedown {
 margin: 10% auto;
}

.modalmask:target .rotate {
 transform: rotate(360deg) scale(1,1);
 -webkit-transform: rotate(360deg) scale(1,1);
}

.modalmask:target .resize {
 width: 400px;
 height: 200px;
}
