@model ForgetMyPasswordViewModel
@{
    ViewData["Title"] = "Forget My Password";
}

<div class="card card-login">
<h1 class="bg-gradient text-center">Forget My Password</h1>
    <div class="card-body">
        <p class="fw-bold">@ViewBag.Message</p>
        <form asp-action="ForgetMyPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control w-75" autocomplete="username" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <a accesskey="" class="btn btn-secondary" asp-action="Login">Back to Login</a>
            <button class="btn-primary btn">Recover</button>
        </form>
    </div>
</div>
