@model RecoverPasswordViewModel
@{
    ViewData["Title"] = "Recover Password";
}

<div class="card card-login">
    <h1 class="bg-gradient text-center">Recover Password</h1>
    <div class="card-body">
        <form asp-action="ResetPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Token" type="hidden" />
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control w-75" autocomplete="username" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control w-75" autocomplete="username" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <a accesskey="" class="btn btn-secondary" asp-action="Login">Back to Login</a>
            <button class="btn-primary btn">Recover</button>
        </form>
    </div>
</div>
