@model DetailTransactionReportViewModel
@{
    ViewData["Title"] = "Daily report Transactions";
}

<h1>Transactions</h1>

<partial name="_Submenu" Model="SubmenuTransactions.Diary" />

<p>
    <a asp-action="Create" class="btn btn-primary mb-3">Create New</a>
</p>

<partial name="_TransactionsDetailReport" model="Model" />